* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
 /*Header Starts*/
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: #072c50;
    font-family: 'Times New Roman', Times, serif;
  }  

header h1 {
    font-weight: bolder;
    font-size: 40px;
    color: #b88746;
    margin: 0;
    left: 150px;
  }

header a {
    text-decoration: none;
    color: #b88746;
    font-weight: bold;
    text-decoration: underline;
}
  
header nav {
    margin: 7px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/*Header End*/

/*Hero Start*/
.hero {
    background-image: url("../../images/jujuy-hero.jpg");
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #b88746;
}
/*Hero End*/

.intro {
    color: #072c50;
}

img {
    height: 300px;
    width: 450px;
}

.section-title {
    font-size: 55px;
    display: inline-block;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    margin-bottom: 35px;
    color: #072c50;
}

p {
    color: #072c50;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 40px 20px 40px;
    text-align: left;
}

.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Contact Start*/  
section nav ul li {
    display: inline-block;
    flex-wrap: wrap;
    margin: 0 10px 0 10px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}    
/*Contact Ends*/

/*Footer*/
