* {
  margin: 0;
  padding: 20;
  box-sizing: border-box;
  background-color: white;
  font-family: "Montserrat";
}

:root{
  --main-color: #262626;
  --hover-color: #7eac99;
  --font-color: #024897;
  --white-color: #ccad8f;
  --primary-font: 'IBM Plex Sans', sans-serif;
}

/*Header Starts*/
header {
  padding: 20px;
}

header h1 {
  font-weight: bolder;
  font-size: 75px;
  margin: 0;
  font-family: "Montserrat";
  display: inline;
  color: var(--font-color)
}

header a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: bolder;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
  font-family: "Montserrat";
}

header nav ul li a {
  margin: 20px;
  font-size: 22px;;
}

header nav ul li a:hover{
  color: var(--hover-color);
  text-decoration: underline;
}

/*Hero Start*/
.hero {
  background-color: var(--font-color);
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

span {
  color: var(--secondary-color);
}

/* About Me Start */
h2 {
  font-size: 35px;
  font-weight: bold;
  color: black;
  margin: 0;
  left: 150px;
  text-align: left;
  padding: 20px;
  font-family: "Montserrat";
  font-weight: bolder;
  text-decoration: underline;
}

p {
  font-size: 20px;
  padding: 20px;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
}

/*Work Project Starts*/
.cn {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  padding: 20px;
  height: 60%;
  width: 60%;
}

.cn:hover .image {
  opacity: 0.5;
}

.cn:hover .middle {
  opacity: 1;
}

.text {
  padding: 12px 24px;
}

/* Skills */
#tech-used {
  font-size: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#tech-used i {
  padding: 20px
}

/* contact */
.contact {
  display:flex;
  align-items: center;
}

.contact-item {
  text-align: center;
  padding:5%;
  font-size: 20px;
}

.contact-item a {
  color: var(--font-color);
  text-decoration: none;
}

.contact-item a:hover {
  color: var(--hover-color);
}

/* Footer */
footer {
  background-color: var(--main-color);
  width: 100%;
  height: 100px;
  display: flex;
  color: var(--white-color);
  justify-content: center;
  align-items: center;
}

footer h2 {
  padding: 5%;
  color: var(--secondary-color);
  font-size: 45px;
}


/*Media Queries*/
@media screen and (max-width: 1180px){
  header {
    padding: 20px;
  }
  
  header h1 {
    font-weight: bolder;
    font-size: 55px;
    margin: 0;
    font-family: "Montserrat";
    color: var(--font-color)
  }
  
  header a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: bolder;
  }
  
  header nav ul li {
    display: inline;
    font-family: "Montserrat";
  }

  header nav ul li a {
    margin: 20px;
    font-size: 18px;;
  }

  .contact {
    display: inline;
    align-items: center;
  }
}

@media screen and (max-width: 900px){
  header {
    padding: 20px;
  }
  
  header h1 {
    font-weight: bolder;
    font-size: 35px;
    margin: 0;
    font-family: "Montserrat";
    color: var(--font-color)
  }
  
  header nav ul li {
    display: inline;
    font-family: "Montserrat";
  }

  header nav ul li a {
    margin: 20px;
    font-size: 13px;;
  }

  .hero {
    height: 0px;
  }
}