* {
  margin: 0;
  padding: 20;
  box-sizing: border-box;
  color: black;
}

:root{
  --hover-color: #7f3800;
  --header-color: #3c4858;
  --primary-font: 'IBM Plex Sans', sans-serif;
}

/*Header Starts*/
header {
  padding: 20px;
  background-color: #a9aaaf;
}

header h1 {
  font-weight: bolder;
  background-color: #a9aaaf;
  font-size: 75px;
  font-family: var(--primary-font);
  text-align: center;
  padding: 50px;
}

div a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: bolder;
  font-family: var(--primary-font);
  margin-top: 0;
}

div nav {
  text-align: center;
  background-color: #a9aaaf;
  height: 175px
}

div nav ul li {
  display: inline;
  font-family: var(--primary-font);
  background-color: #a9aaaf;
}

div nav ul li a {
  margin: 20px;
  font-size: 22px;;
}

div nav ul li a:hover{
  color: var(--hover-color);
  text-decoration: underline;
}
/* Header Ends */

h2 {
  font-size: 35px;
  font-weight: bold;
  color: var(--header-color);
  text-align: center;
  padding: 20px;
  font-family: "Montserrat";
  font-weight: bolder;
  text-decoration: underline;
}

p {
  font-size: 20px;
  padding: 20px;
  font: var(--primary-font);
  font-weight: bolder;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
}

/*Projects*/
#projects {
  background-color: var(--main-color);
}

.cn {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  padding: 20px;
  height: 60%;
  width: 60%;
}

.cn:hover .image {
  opacity: 0.5;
}

.cn:hover .middle {
  opacity: 1;
}

.text {
  padding: 12px 24px;
}

/* Skills */
#skills {
  padding: 30px;
}

#tech-used {
  font-size: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

/* #tech-used i {
  padding: 20px
} */

/* Photography */
.pt:hover .image {
  opacity: 2;
}

.pt:hover .middle {
  opacity: 1;
}

/* footer*/
footer {
  text-align: center;
  background-color: #a9aaaf;
  height: 100%;
  padding: 30px;
}

footer div ul li {
  display: inline;
  text-align: right;
  padding: 20px;
  font-size: 20px;
}


/*Media Queries*/
@media screen and (max-width: 1024px){
  header {
    padding: 20px;
    background-color: #a9aaaf;
  }
  
  header h1 {
    font-weight: bolder;
    background-color: #a9aaaf;
    font-size: 75px;
    font-family: var(--primary-font);
    text-align: center;
    padding: 50px;
  }
  
  div a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: bolder;
    font-family: var(--primary-font);
    margin-top: 0;
  }
  
  div nav {
    text-align: center;
    background-color: #a9aaaf;
    height: 100px
  }
  
  div nav ul li {
    font-family: var(--primary-font);
    background-color: #a9aaaf;
  }
  
  div nav ul li a {
    margin: 20px;
    font-size: 22px;;
  }
  
  div nav ul li a:hover{
    color: var(--hover-color);
    text-decoration: underline;
  }

  footer {
    text-align: center;
    background-color: #a9aaaf;
    height: 100%;
    padding: 30px;
  }
  
  footer div ul li {
    text-align: right;
    padding: 20px;
    font-size: 20px;
  }
}



